/*
wood brown: A89F68;
army green: 41521F;
*/

.first-section{
	background-image: url(../img/portada.jpg);
	height: 100vh;
	background-size: auto;
	background-repeat: no-repeat;
	width: 100%;
}

.logo{
	color: #fff;
	font-size: 18px;
	font-weight: 900;
	padding: 0 16rem;
	cursor: pointer;
}

.letras ul li a{
	color: #fff;
}

#sumo{
	padding-top: 18em;
	margin-right: 2rem;
}

.first-section h1{
	color: #fff;
	font-weight: 900;
	font-size: 40px;
}

#showApp{
	color: #fff;
	font-weight: 200;
	font-size: 14px;
}

.btn-primary{
	color: #fff;
	background-color: #41521F;
	border-color: #41521F; 
}

.btn-primary:hover{
	color: #fff;
	background-color: #5e772b;
	border-color: #5e772b; 
}

